body{
	margin-top: 20px;
	background-color: lightgray;
}
.active{
	background-color: cyan;
}
.black{
	height: 50px;
	width: 50px;
	background-color: #80a352;
}
.black:hover{
	background-color: cyan;
}

.white{
	height: 50px;
	width: 50px;
	background-color: #a8c2b6;
}
.white:hover{
	background-color: cyan;
}
.box_row{
	display: flex;
	flex-direction: row;
}
.knight{
	height: 50px;
	width: 50px;
	margin: 0px;
	color: blue;
}
.chessboard{
	transform:rotate(270deg);
}
img{
	height: 100%;
	width: 100%;
}

.box{
  font-size:45px;
  font-weight:400;
  transform:rotate(90deg);
  display:flex;
  min-width:50px;
  justify-content: center;
  align-items: center;
}
.possible{
	position:relative;
}

.possible::before {
	content: ""; 
    width: 50%;
    height: 50%;
    border-radius: 100%;
	position:absolute;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
